.header{
    padding: 30px 0 15px;
}

  
.header_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.bt {
    padding: 5px 10px;
    color: white;
    cursor: pointer;
  }
  
  .bt.active {
    border-bottom: 2px solid white;
  }

.header_logo span{
    font-weight: 900;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
   
}

.header_nav button{
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.header_nav ul{
    padding-left: 140px;
    font-weight: 900;
    display: flex;
    column-gap: 30px;
}


.container_hed{
    background-color: #000;
}

.header_user{
    padding: 5px 10px;
    display: flex;
    gap: 10px; 
}
.button {
    padding-right: 10px;
    cursor: pointer;
  }

.img{
    
  width: 20px;
  height: 20px;
  transition: filter 0.3s ease;
}
.img:hover{
    filter: grayscale(100%) brightness(50%)
}
.input-wrapper{
    width: 100%;
    max-width: 200px;
    background: hsl(231, 14%, 10%);
    border: 2px solid #2b2c37;
    border-radius: 10px;
    position: relative;
    transition: all 0.35s ease-out;
  }
  
  .input{
    font-size: 12px;
    padding: 10px;
  }
  .input::placeholder{
    color: #727884;
  }
  .input-wrapper:has(input:focus){
    border: 2px solid #de55de;
    box-shadow: 0 0 120px hsl(300 67% 60% /0.5);
  }
  .input-wrapper > svg{
    position: absolute;
    right: 1rem;
    width: 28px;
    flex-shrink: 0;
    transition: 0.25s;
  }
  .input:focus + svg> path{
    stroke: none;
    fill: #ec83bb;
  }
  .input:focus + svg{
    scale: 1.2;
  }




  