.containers-men {
    max-width: 1050px;
    margin: 0 auto;
    padding-top: 40px;
  }
  
  .headers-men {
    margin-left: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    text-align: left;
    color: black;
  }
  
  .images-container-men {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin: 10px;
  transition: transform 1s ease;
  }
  .images-container-men :hover{
    transform: scale(1.01);
  }
  
  .image-men {
    flex: 1;
    margin: 0 10px;
    margin-top: 10px;
    text-align: left;
    color: black;
  }
  
  .caption-men {
    
    margin-top: 5px;
    font-size: 18px;
    color: black;
  }