.splide-container {
  position: relative;
  width: 70%; /* Ширина контейнера */
  margin: 0 auto; /* Центрирование по горизонтали */
}

.splide-container .splide {
  overflow: hidden;
}

.splide-container .splide img {
  width: 100%; /* Фотографии занимают всю доступную ширину слайда */
  height: auto;
  display: block;
}

.splide-container .scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(200, 45, 45, 0);
  color: #cb171700;
  border: none;
  padding: 30px 60px;
  font-size: 30px;
  cursor: pointer;
  transition: background 0.6s ease;
}

.splide-container .scroll-button:hover {
  background: rgba(255, 255, 255, 0);
}

.splide-container .scroll-button.left {
  left: 0;
}

.splide-container .scroll-button.right {
  right: 0;
}
.splide__slide {
  text-align: center; /* Выравнивание текста по центру */
  color: black;
}

.caption {
  margin-top: 10px; /* Отступ между изображением и текстом */
}
.image:hover{
  transform: scale(1.1);
}
.image{
  cursor: pointer;
  margin: 10px;
  transition: transform 0.3s ease;
}
